.margincover { 
    margin:10px 10px 10px 10px;
}

.margincoverwide { 
    margin:0px 20px 20px 0px;
}

.leftalign {
    margin-left:0px;
}

h1 {
    color:blue
}

.center {
    background-color:rgba(255,255,255,0.85);
}

.margindiv{
    margin-left:50px;
    margin-right:50px;
}

.navbar {
    .navbar-inner {
	background-color:#013ADF;
	background-image:none;
	color:white;
    }
}

.result {
    background-color:#b0c4de;
    border-style:solid;
    border-width:5px;
    border-color:#98bf21;
}

a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:none;}
a:active {text-decoration:none;}

p, div {
    font-family: 'Rosario', Arial, sans-serif;
}